<ion-view title="Check Out" id="page11" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="checkOut-list14" class=" ">
            <ion-item id="checkOut-list-item82" class="  ">wan tan mee RM 15 X 1</ion-item>
            <ion-item id="checkOut-list-item85" class="  ">wan tan mee RM 15 X 1</ion-item>
            <ion-item id="checkOut-list-item86" class="  ">wan tan mee RM 15 X 1</ion-item>
            <ion-item class="item-divider " id="checkOut-list-item-divider7">Total Amount: RM 45</ion-item>
        </ion-list>
        <div id="checkOut-button-bar7" class=" button-bar ">
            <a ui-sref="tabsController.receipt" id="checkOut-button25" class=" button button-assertive  button-block ">Cash</a>
            <a ui-sref="tabsController.receipt" id="checkOut-button26" class=" button button-assertive  button-block ">Online Banking</a>
        </div>
    </ion-content>
</ion-view>