<ion-view title="Check Out" id="page11" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="checkOut-list14" class=" " ng-repeat="bookingitem in bookingitems">
            <ion-item id="checkOut-list-item82" class="  ">{{bookingitem.name}} <br>RM {{bookingitem.price}} X {{bookingitem.quantity}} = RM {{bookingitem.price * bookingitem.quantity}}</ion-item>
        </ion-list>
         <ion-list id="checkOut-list14" class=" " >
          <ion-item class="item-divider " id="checkOut-list-item-divider7">Total Amount: RM {{grand_total}}</ion-item>
         </ion-list>
        <div id="checkOut-button-bar7" class=" button-bar ">
            <a ng-href="#/tab/receipt/{{booking_id}}"  id="checkOut-button25" class=" button button-assertive  button-block ">Cash</a>
            <a ng-href="#/tab/receipt/{{booking_id}}" id="checkOut-button26" class=" button button-assertive  button-block ">Online Payment<br/>(MOLPAY)</a>
        </div>
    </ion-content>
</ion-view>
