<ion-view title="Favourite" id="page3" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="favourite-list5" class=" ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Location/Restaurant">
            </label>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item8" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item44" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item45" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item46" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item47" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item53" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item50" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item52" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item51" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item48" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="favourite-list-item49" ui-sref="tabsController.foodStall">
                <h2>SS2 Chow Yang</h2>
                <p>Wan Tan Mee</p>
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>