<ion-view title="Food Stall" id="page8" class=" ">
    <ion-content padding="false" class="has-header" ng-repeat="store in stores | filter:name">
        <div style="margin: 0px;  text-align: center; background-color: rgb(232, 235, 239);">
           <img ng-src="http://api.gaekjuhub.com/uploads/stores/store{{store.id}}.jpg" style="width:100%;" />
        </div>

        <p id="foodStall-markdown5" style="color:#000000;font-size:16px;" class=" ">{{store.name}}</p>
        <p id="foodStall-markdown6" style="color:#000000;font-size:14px;" class=" ">{{store.address}}</p>
        <div id="foodStall-button-bar1" class=" button-bar "></div>
        <div id="foodStall-button-bar2" class=" button-bar "></div>
        <div id="foodStall-button-bar9" class=" button-bar ">
            <a id="foodStall-button36" style="font-size:12px;" class=" button button-assertive  button-block icon-left ion-speakerphone " ng-href="#/tab/foodstallreviews/{{store.id}}">Reviews</a>
            <button id="foodStall-button37" style="font-size:12px;" class=" button button-assertive  button-block icon-left ion-ios-location ">View Map</button>
        </div>
        <ion-list id="foodStall-list9" class=" ">
            <ion-item class="item-icon-left  " id="foodStall-list-item66">
                <i class="icon ion-android-calendar"></i>{{store.opening_time}}</ion-item>
        </ion-list>
        <a ng-href="#/tab/ordernow/{{store.id}}" id="foodStall-button14" class=" button button-assertive  button-block icon-right ion-fork ">Order Now</a>
    </ion-content>
</ion-view>