<ion-view title="Food Stall Reviews" id="page14" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="foodStallReviews-list19" class=" ">
            <ion-item class="item-avatar  " id="foodStallReviews-list-item103">
                <h2>Oscar</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="foodStallReviews-list-item104">
                <h2>Oscar</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="foodStallReviews-list-item105">
                <h2>Oscar</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="foodStallReviews-list-item106">
                <h2>Oscar</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="foodStallReviews-list-item107">
                <h2>Oscar</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="foodStallReviews-list-item108">
                <h2>Oscar</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>