<ion-view title="Lounge Comment" id="page15" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="loungeComment-list10" class=" ">
            <ion-item class="item-avatar  " id="loungeComment-list-item98">
                <h2>Curry Fish Head</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="loungeComment-list-item99">
                <h2>Curry Fish Head</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="loungeComment-list-item100">
                <h2>Curry Fish Head</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="loungeComment-list-item101">
                <h2>Curry Fish Head</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="loungeComment-list-item102">
                <h2>Curry Fish Head</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
            <ion-item class="item-avatar  " id="loungeComment-list-item109">
                <h2>Curry Fish Head</h2>
                <p style="white-space:normal;">The food is delicious, recommanded you guys come and have a try</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>