<ion-view title="Lounge" id="page10" class=" ">
    <ion-content padding="false" class="has-header">
        <button id="lounge-button9" class=" button button-assertive  button-block ">Add Post</button>
        <div class="list card " id="lounge-card22">
            <ion-item class="item-avatar  " id="lounge-list-item72">
                <h2>Oscar</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div id="lounge-button-bar3" class=" button-bar ">
                <button id="lounge-button15" class=" button button-assertive  icon-right ion-thumbsup ">2834</button>
                <a ui-sref="tabsController.loungeComment" id="lounge-button16" class=" button button-assertive  icon-right ion-android-chat ">82</a>
                <button id="lounge-button42" class=" button button-assertive  icon ion-android-share "></button>
            </div>
            <div id="lounge-button-bar11" class=" button-bar "></div>
        </div>
        <div class="list card " id="lounge-card26">
            <ion-item class="item-avatar  " id="lounge-list-item116">
                <h2>Oscar</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div id="lounge-button-bar13" class=" button-bar ">
                <button id="lounge-button43" class=" button button-assertive  icon-right ion-thumbsup ">2834</button>
                <a ui-sref="tabsController.loungeComment" id="lounge-button44" class=" button button-assertive  icon-right ion-android-chat ">82</a>
                <button id="lounge-button45" class=" button button-assertive  icon ion-android-share "></button>
            </div>
            <div id="lounge-button-bar14" class=" button-bar "></div>
        </div>
        <div class="list card " id="lounge-card27">
            <ion-item class="item-avatar  " id="lounge-list-item117">
                <h2>Oscar</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div id="lounge-button-bar15" class=" button-bar ">
                <button id="lounge-button46" class=" button button-assertive  icon-right ion-thumbsup ">2834</button>
                <a ui-sref="tabsController.loungeComment" id="lounge-button47" class=" button button-assertive  icon-right ion-android-chat ">82</a>
                <button id="lounge-button48" class=" button button-assertive  icon ion-android-share "></button>
            </div>
            <div id="lounge-button-bar16" class=" button-bar "></div>
        </div>
    </ion-content>
</ion-view>