<ion-view title="Map" id="page2" class=" ">
    <ion-content padding="false" class="has-header">
      <h2>food</h2>
      <tr ng-repeat="shake in shakedata">
        <td>{{shake.name}}</td>
      </tr>
        <form id="map-form5" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="startnav" type="search" placeholder="Search Location/Restaurant">
            </label>
              <button ng-click="launchNavigator()" style="border-radius:50px 50px 50px 50px;" class=" button button-assertive  button-block ">Go to shop</button>
        </form>
          <div id="fl_map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
