<ion-view title="Menu" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="menu2-list12" class=" ">
            <ion-item class="item-thumbnail-left  " id="menu2-list-item118">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="menu2-list-item119">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="menu2-list-item120">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.addMenuItem" id="menu2-button11" class=" button button-assertive  button-block ">Add Item</a>
    </ion-content>
</ion-view>