<ion-view title="Order Now" id="page9" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="orderNow-list11" class=" ">
            <ion-item class="item-thumbnail-left  " id="orderNow-list-item71">
                <h2>Curry Fish head</h2>
                <p>RM 15</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="orderNow-list-item78">
                <h2>Curry Fish head</h2>
                <p>RM 15</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="orderNow-list-item79">
                <h2>Curry Fish head</h2>
                <p>RM 15</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="orderNow-list-item80">
                <h2>Curry Fish head</h2>
                <p>RM 15</p>
            </ion-item>
        </ion-list>
        <a ui-sref="tabsController.checkOut" id="orderNow-button24" class=" button button-assertive  button-block icon-right ion-android-checkbox-outline ">Check Out</a>
    </ion-content>
</ion-view>