<ion-view title="Receipt" id="page12" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="receipt-list15" class=" ">
            <ion-item class="item-divider " id="receipt-list-item-divider9">Thank you for ordering</ion-item>
            <ion-item id="receipt-list-item87" class="  ">Wan Tan Mee RM 15 X 1</ion-item>
            <ion-item id="receipt-list-item88" class="  ">Wan Tan Mee RM 15 X 1</ion-item>
            <ion-item id="receipt-list-item89" class="  ">Wan Tan Mee RM 15 X 1</ion-item>
            <ion-item class="item-divider " id="receipt-list-item-divider8">Total Amount : RM 45</ion-item>
        </ion-list>
        <div id="receipt-button-bar8" class=" button-bar ">
            <button id="receipt-button28" style="border-radius:0px 0px 0px 0px;" class=" button button-assertive  icon-right ion-qr-scanner ">Scan My Table</button>
        </div>
        <a ui-sref="tabsController.map" id="receipt-button32" style="border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block icon-right ion-ios-location ">Back To Map</a>
    </ion-content>
</ion-view>