<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-assertive tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="Map" icon="ion-ios-location" href="#/tab/map" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Booking" icon="ion-android-calendar" href="#/tab/orderhistory" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Lounge" icon="ion-ios-people" href="#/tab/lounge" id="tabsController-tab4" class=" ">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>